<div class="row">
  <div class="four columns"><%= weight_rep.reps %></div> <div class="four columns"><%= weight_rep.numSets %></div> <div class="four columns last"><%= weight_rep.weight %></div>
</div>